[color]
    ui = auto
[user]
    name = $GIT_COMMITTER_NAME
    email = $GIT_COMMITER_EMAIL
[github]
    user = $GITHUB_USERNAME
    token = $GITHUB_TOKEN
[color]
    ui = auto
[core]
    editor = vim
    autocrlf = input
[merge]
	conflictstyle = diff3
[alias]
    todo = grep --ignore-case -e ' FIX: *' -e ' TODO: *'
    ass = !echo 'What kind of git do you think I am?'
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
